* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-primary);
    font-family: var(--font-family);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vi;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    margin-top: 100%;
}

.footer-content {
    
    color: red;
}